/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2016, 8:28:41 AM
    Author     : Josseline
*/

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');


/*------------------Estilos graficos------------------*/
.fondoPrincipal{
    background-image: url("http://45.33.83.201/wallpapers/2014/08/08/beautiful-home-wallpaper_015621439_147.jpg");
}
.panel{
    background-color: rgba(255, 255, 255, 0.6) !important;
    width: 800px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
}

span{
    background-color: rgba(0, 0, 0, 0) !important ;
}

/*-------------Generales----------------------*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}
.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #FBA919;
}
.contenedor {
    margin: auto;
    width: 99%;
}

/*--------------Estilos de banner--------------*/

.banner {
    margin-top: -60px;
    /*position: relative;*/
    z-index: -1000;
    margin-bottom: 20px;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    width: 100%;
    color: #fff;
    text-align: center;
}

.banner__txt {
    display: none;
    font-family: 'Hammersmith One', sans-serif;
}
.banner__titulo{
    font-family: 'Courgette', cursive;
}
/*---------------slider-----------------------*/
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/*-----------------Estilos de info-----------------*/
.info__columna {
    background: #FBA919;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;


}

.info__img{
    width: 315px;

}


/*-----------------Estilos de footer-----------------*/

.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}



/*------------------Estilos responsive------------------*/

@media(min-width:480px) {
    .logo {
        font-size: 40px;
    }
    .banner__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }
    .info {
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info__columna {
        width: 32%;
    }
    .info__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .section__titulo {
        width: 100%;
    }

    .footer .social [class^="icon-"] {
        margin: 0 10px;
    }
}
@media(min-width:768px) {  
    .banner__titulo {
        font-size: 50px;
    }
    .cursos__titulo {
        font-size: 40px;
    }
}

@media(min-width:1024px) {  
    .contenedor {
        width: 1000px;
    }
    .section__titulo {
        font-size: 50px;
        margin: 30px 0;
    }
    .nav {
        position: static;
        width: auto;
    }

    .select {
        color: #fff;
        background: #FBA919;
    }
    .banner__titulo {
        font-size: 60px;
    }
    .banner__txt {
        font-size: 25px;
    }
    .info {
        margin-top: -120px;
    }
    .info__columna {
        padding: 30px;
    }
    .info__titulo {
        font-size: 40px;
        text-align: center;
    }

}

@media(min-width:1280px) {
    .contenedor {
        width: 1200px;
    }
    .logo {
        font-size: 60px;
    }
    .banner .contenedor {
        top: 40%;
    }
    .info {
        margin-top: -220px;
    }
}

/*---------menu-----*/
/*-------dropdown------*/
.contenedor-dropdown{
    top: 50px;
    margin-top: -250px;
    width: 500px;
    margin-left: 600px;
}
.ui-widget-content {
    background-color: rgba(255, 255, 255, 0.4) !important;
} 
/*NavBar de Bootstrap*/

#navbar-principal {
    background-color: black;
    border-color: black;

}

#input-navbar {
    width: 350px;
    margin-left: 100px;
}

#submit-navbar {
    width: 70px;
}  


.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

.btn-default{
    color: white !important;
    border-color: black!important;
    background-color: rgba(160, 13, 23, 1) !important;
}

.btn-list{
    color: white !important;
    border-color: black!important;
    background-color: rgba(160, 13, 23, 1) !important;
    width: 150px !important;
}

form-group{
    background-color: #333 !important;
}

/*-----tablas---*/
.titulo-menu-tablas{
    text-align: center;
    color: white;
    font-size: 20px;
    letter-spacing: 0;
    text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;   
}
.menu-tablas{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#dock{
    justify-content: space-between !important;
}
.menu-tabla{
    display: inline-flex;

    margin-top: -90px;
}

/*------*----------*/
#dock li img {
    width: 64px;
    height: 64px;
    -webkit-box-reflect: below 2px
        -webkit-gradient(linear, left top, left bottom, from(transparent),
        color-stop(0.7, transparent), to(rgba(255,255,255,.5))); /* reflection is supported by webkit only */
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
}
#dock li:hover img { 
    -webkit-transform: scale(2);
    margin: 0 2em;
}

#dock li:hover + li img,
#dock li.prev img {
    -webkit-transform: scale(1.5);
    margin: 0 1.5em;
}

/*---------------consultas-----------*/

.titulo-consulta{
    text-align: center;
    color: white;
    font-size: 40px;
    letter-spacing: 0;
    text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333; 
}